:root {
    /* ===Font weight=== */
    --header-regular: 400;
    --header-medium: 500;
    --header-semibolt: 600;
    --header-bold: 700;
    /* ====COLORS=== */
    --color-primario: #fcc302;
    --color-secundario: #eaae00;
    --color-button-princinpal: #00bec9;
    --text-color: #ffff;
    /* ====Font-size==== */
    --h1-tall-size: 4.5rem;
    --h1-font-size: 4rem;
    --h2-font-size: 3rem;
    --h3-sub-font-size: 2.25rem;
    --normal-font-size: 1.75rem;
    --cards-font-size: 1.5rem;
    --ultra-small-font-size: 0.25rem;
    --button-font-size: 1.25rem;
    --font-size-precio: 2.5rem;
    /* ====Margenes=== */
    --mb-1-x: 8.75rem;
    --mb-2-y: 5.625rem;
    --mb-3-content: 3.125rem;
}


/* ---------------------------------- Base ---------------------------------- */

* {
    padding: 0;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

HTML {
    scroll-behavior: smooth;
}

a {
    font-weight: var(--header-semibolt);
    color: var(--text-color);
}


/* ------------------------------ Grid layaout ------------------------------ */

.bd-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}


/* -------------------------------- Class css ------------------------------- */


/*======section======*/

.section-principal {
    padding: var(--mb-1-x);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.section-yellow {
    padding: var(--mb-2-y) var(--mb-1-x);
    display: flex;
    width: 100%;
    height: 1017px;
    background: var(--color-primario);
    overflow: hidden;
    flex-wrap: nowrap;
}

.section-white {
    position: relative;
    padding: var(--mb-1-x);
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.section-white-team {
    position: relative;
    padding: var(--mb-1-x);
    width: 100%;
    height: 1017px;
    overflow: hidden;
}

.section-title {
    font-weight: var(--header-bold);
    font-size: var(--h1-tall-size);
    line-height: 5rem;
}

.section-subtitle {
    font-weight: var(--header-semibolt);
    font-size: var(--h2-font-size);
    line-height: 4rem;
}

.section-content {
    padding: 1rem var(--mb-3-content) 4rem 0px;
    font-size: var(--normal-font-size);
    font-weight: var(--header-regular)
}


/* ======VIDEO========== */

.video {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.contenido-video {
    position: relative;
    min-width: 590px;
    min-height: 485px;
    max-width: 690px;
    max-height: 585px;
}

.contenido-video::after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--color-primario);
    position: absolute;
    opacity: .5;
    top: 0;
    left: 0;
    z-index: 3;
}

.pri {
    position: absolute;
    z-index: 0;
    left: -40px;
    bottom: -20px;
}

.seg {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.tri {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}


/* ===class cards=== */

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card img {
    width: 100%;
}

.card {
    text-align: center;
    color: var(--text-color);
    max-width: 435px;
    width: 100%;
    height: 100%;
}

.card-title {
    font-size: var(--h3-sub-font-size);
    font-weight: var(--header-regular);
}

.card-content {
    font-size: var(--cards-font-size);
}

.section-precio {
    font-size: var(--font-size-precio);
}


/* ===== CLASS BUTTONS ==== */

.button-yellow {
    background: var(--color-primario);
    padding: 23px 2.5rem;
    border-radius: 7px;
    margin-right: 30px;
    font-weight: var(--button-font-size);
}

.button-blue {
    background: var(--color-button-princinpal);
    padding: 23px 2.5rem;
    border-radius: 7px;
    margin-right: 30px;
    font-weight: var(--button-font-size);
}

.btn-pay {
    border-radius: 30px;
    padding: 16px 45px;
    text-align: center;
    background: var(--color-button-princinpal);
    font-weight: var(--button-font-size);
}


/* ---------------------------------- MENU ---------------------------------- */

.nav {
    width: 100%;
    height: 120px;
    background: var(--color-secundario);
    display: flex;
    padding: 0px var(--mb-1-x);
    justify-content: space-between;
    position: absolute;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
}

.menu li a {
    padding: 0px 0px 0px 20px;
    font-size: var(--normal-font-size);
    font-weight: var(--header-medium);
}

.menu_real {
    position: absolute;
}

.buscador {
    width: 280px;
    height: 50px;
    display: grid;
    grid-template-columns: 74% 26%;
    box-shadow: 6px 16px 10px 2px rgba(0, 0, 0, 0.076);
}

.buscador input:nth-child(1) {
    color: var(--text-color);
    font-size: 1.25rem;
    background: var(--color-primario);
    border: 0;
    outline: none;
    padding-left: 1.5rem;
}

.buscador input:nth-child(2) {
    background: var(--color-button-princinpal) url(svg/Search\ Button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: cover;
    border: 0;
    outline: none;
}


/* --------------------------------- HEADER --------------------------------- */

.header {
    background: var(--color-primario);
    color: var(--text-color);
    justify-content: space-between;
    align-items: flex-end;
}

.header-content h1 {
    max-width: 680px;
    font-weight: var(--header-semibolt);
}

.header-content p {
    max-width: 680px;
}

.buttons {
    display: flex;
}

.buttons :nth-child(2) {
    padding: 23px 2.5rem;
    border-radius: 7px;
    font-weight: var(--button-font-size);
    background: transparent;
    border: 3px solid var(--text-color);
}

.header img {
    position: relative;
    top: 10%;
    max-width: 419px;
    max-height: 604px;
}


/* -------------------- CONTENIDO_2 ------------------------------------- */

.contenido_2 {
    padding-top: 70px;
    max-width: 580px;
}


/* ------------------------------ TERCERA_PARTE ----------------------------- */

.tercera_porcion {
    flex-direction: column;
}

.contenido_3 {
    text-align: center;
    color: var(--text-color);
    padding: 0px 0px;
}


/* ------------------------------- CONTENIDO_4 ------------------------------ */

.content_4 {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-top: 5rem;
    align-items: flex-end;
    width: 100%;
    z-index: 10;
}

.content_4 p {
    padding-right: 0px;
    max-width: 590px;
}

.pri-2 {
    position: absolute;
    bottom: -40px;
    right: -25px;
}

.ctv2 {
    display: flex;
    justify-content: flex-start;
}


/* ------------------------------ QUINTA-PARTE ------------------------------ */

.quinta_porcion {
    flex-direction: column;
    /* justify-content: space-between; */
    text-align: center;
    color: var(--text-color);
}

.section-precio {
    font-size: var(--font-size-precio);
    margin-bottom: 2rem;
}


/* ----------------------- SECCION DEL TEAM ----------------------- */

.content_5 {
    text-align: center;
}

.card-team {
    color: black;
    font-size: var(--cards-font-size);
}

.redes-cards {
    display: flex;
}

.redes-cards a {
    position: relative;
    background: blue;
    border-radius: 50%;
    filter: ;
}

.redes-cards a::after {
    content: url(img/Twitter.png);
    width: 100%;
    background: var(--color-primario);
    position: absolute;
    border-radius: 50%;
}